/* GLOBAL VARIABLES */
$bg-color   = $Temptress

$size-desktop       = 1610px
$size-desktop-min   = 1025px
$size-tablet-min    = 769px
$size-tablet-max    = 1024px
$size-mobile-min    = 320px
$size-mobile-max    = 768px

/* COLOR VARIABLES */
$Temptress      = #3F000B
$Buccaneer      = #673328
$Peach          = #f5eeef
$whiter         = #fefefe
$dove-gray      = #737373
$cinnamon       = #7c430c


/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000



/* FONTS */
$font-normal        = 'Lato', sans-serif
$font-wt-light      = 300
$font-wt-regular    = 400
$font-wt-bold       = 700
$font-wt-extrabold  = 900


/* FONT-FACE */
$primary-font       = 'GothamRounded-Bold'
$secundary-font     = 'GothamRounded-Medium'
$gotham-text        = 'Gotham Rounded Book'


/* BRAKEPOINTS */
media_queries = {
    mobile  : "only screen and (min-width: "+ $size-mobile-min +") and (max-width: "+ $size-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $size-tablet-min +") and (max-width: "+ $size-tablet-max +")",
    desktop : "only screen and (min-width: "+ $size-desktop-min +")"
}